body
{
    background-color: slategrey;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}


.expandable .content 
{
    display: none;
    
}

 .expandable input
{
    display: none;
} 

.expandable {
    background-color: #597593;
    outline-style: solid;
    outline-color: darkslategrey;
    box-shadow: 2px 2px 10px;
    border-radius: 15px;
    padding: 0px 4px 8px 8px;
}

.expandable:hover {
    background-color: #476482;
    box-shadow: antiquewhite 0px 0px 40px;
}

.expandable input:checked ~ .content {
    display: block;
    border-radius: 15px;
    padding-right: 45px;
    
}

.expandable .toggle {
    font-style: italic;
    display: inline;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    background-color: darkslategray;
    border-radius: 0px 10px 15px 15px;
    cursor: pointer;
    font-weight: normal;
    font-size: medium;
}

.expandable .toggle:hover {
    background-color:#284242;
}

/*.header {*/
    /*background-color: #33cdcd;*/
    /*outline-style: solid;
    outline-color: darkslategrey;
    box-shadow: 0px 2px 10px;
    width: 100%;
}*/

.opening {
    background-color: #597593;
    outline-style: solid;
    outline-color: darkslategrey;
    box-shadow: 0px 2px 10px;
    border-radius: 5px;
    text-align: center;
}

.collapsible {
    display: block;
    cursor: pointer;
    user-select: none;
    padding: 6px;
    background: #384563;
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
}

.collapsible:hover {
    background-color:#2f384f
}

.collapsible input { 
    display:none; 
}

.collapsible .title { 
    display:block; 
    padding-left: 10px;
    /*padding:6px; 
    background:#384563; */
    /*text-align: center;*/
}

.collapsible .instruction {
    font-size: medium;
    font-weight: normal;
    display: inline;
    float: right;
    padding-right: 15px;
    padding-top: 4px;
}

.collapsible .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
}

.collapsible input:checked + .title + .content {
  max-height: 20000px; 
}