body
{
    background-color: slategrey;
    margin: 0;
    /* padding-right: 15px;
    padding-left: 15px; */
}

/* header
{
    margin: 0;
    padding: 0px;
    width: 100vw;
    background-color: #33cdcd;
} */

.expandable .content 
{
    display: none;
    
}

 .expandable input
{
    display: none;
} 

.expandable {
    background-color: #597593;
    outline-style: solid;
    outline-color: darkslategrey;
    box-shadow: 2px 2px 10px;
    border-radius: 15px;
    padding: 0px 4px 8px 8px;
    width: 95%;
    margin: 0 auto;
}

.expandable:hover {
    background-color: #476482;
    box-shadow: antiquewhite 0px 0px 40px;
}

.expandable input:checked ~ .content {
    display: block;
    border-radius: 15px;
    padding-right: 45px;
    
}

.expandable .toggle {
    font-style: italic;
    display: inline;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    background-color: darkslategray;
    border-radius: 0px 10px 15px 15px;
    cursor: pointer;
    font-weight: normal;
    font-size: medium;
}

.expandable .toggle:hover {
    background-color:#284242;
}

.header {
    /* background-color: #33cdcd; */
    outline-style: outset;
    outline-color: slategrey;
    box-shadow: 0px 4px 4px;
    width: 100%;
    height: 100%;
    font-style: italic;
    text-align: center;
}

.footer {
    /* background-color: #33cdcd; */
    /* outline-style: outset;
    outline-color: slategrey; */
    box-shadow: 0px -4px 3px rgb(39, 48, 54);
    width: 100%;
    height: 100%;
    font-style: italic;
    text-align: center;
}

.opening {
    display: flex;
    background-color: #6989a3;
    outline-style: solid;
    outline-color: darkslategrey;
    box-shadow: 0px 2px 10px;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}

.contentlibrary {
    background-color:#6989a3;
    outline-style: solid;
    outline-color: darkslategrey;
    box-shadow: 0px 2px 10px;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.navigation {
    background-color: #384563;
    display: block;
    cursor: pointer;
    user-select: none;
    padding: 6px;    
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
    width: fit-content;
    /* margin: 0 auto; */
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 3, 38);
}

.navigation:hover {
    background-color:#2f384f
}

.navPane {
    display: inline-flex;
    background-color: lightslategrey;
    border-radius: 15px;
    float: inline-start;
    padding: 10px;
    width: 30%;
    border-color: darkslategrey;
    border-style: solid;
}

.navTable  {
    width:100%;
}

.navTable th {
    font-size: 1.25em;
}

.navTable td {
    display: block;
    padding: 3px;
    border-radius: 15px;
    background-color: #384563;
    cursor: pointer;
}

.navTable td:hover {
    background-color:#2f384f
}

.navButton {
    display: block;
    user-select: none;
    color: black;
    text-decoration: none;
}

.collapsible {
    display: block;
    cursor: pointer;
    user-select: none;
    padding: 6px;
    background: #384563;
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
    width: 90%;
    margin: 0 auto;
}

.collapsible:hover {
    background-color:#2f384f
}

.collapsible input { 
    display:none; 
}

.collapsible .title { 
    display:block; 
    padding-left: 10px;
    /*padding:6px; 
    background:#384563; */
    /*text-align: center;*/
}

.collapsible .instruction {
    font-size: medium;
    font-weight: normal;
    display: inline;
    float: right;
    padding-right: 15px;
    padding-top: 4px;
}

.collapsible .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
}

.collapsible input:checked + .title + .content {
  max-height: 20000px; 
}

.hidden {
    display: none;
}

.sectionBtn {
    display: block;
    user-select: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 1.0em;
    font-family: inherit;
    width: 100%;
    text-align: left;
}

.stories {
    padding-bottom: 20px;
}

.storyLink {
    color: #33cdcd;
}

.storyLink:visited {
    color: #1e7d7d;
}

